%main
  .container.p-5

    = link_to 'チームの検索条件', '#form-teams-search', class: "btn btn-primary", 'data-toggle': :collapse, 'role': :button, 'aria-expanded': :false, 'aria-controls': :collapseExample

    .collapse#form-teams-search

      = form_with model: @team, url: teams_path, method: "get", local: true, class: "mt-4" do |f|

        = render 'teams/form-teams-search', f: f

        = f.submit 'チーム検索条件を設定'


  .container

    - @teams.each do |team|
      = render 'team', team: team
