%main
  %h1 マイページ
  %p
    = link_to 'ユーザー情報の編集', edit_user_registration_path


  %ul.for-search-team
    %li
      = link_to 'プロフィール(メンバー情報)の登録・編集', new_member_path
    %li
      = link_to 'チームを探す', teams_path

  %ul.for-search-member
    %li
      = link_to 'チーム情報の登録・編集', new_team_path
    %li
      = link_to 'メンバーを探す', members_path
